.home-link-container
	a
		&.link
			@include transition(width 300ms, height 300ms, margin 300ms)
			vertical-align: middle
			text-decoration: none
			color: #fff
			display: inline-block
			height: 60px
			width: 60px
			margin: 0
			cursor: pointer
			&:before
				@include transition(font-size 300ms, color 300ms)
				cursor: pointer
				font: 
					size: 45px
					color: #fff

			@include media($media-small)
				margin: 0 2px
				height: 55px
				width: 40px
				&:before
					@include text-shadow(1px 1px 1px rgba(#000, 0.3))
					font: 
						size: 40px
				&:active,
				&:focus
					outline: 0
				&:hover
					height: 55px
					width: 55px
					margin: 0 10px
						top: -20px
					&:before
						font: 
							size: 55px

					&.icon-twitter
						&:before
							color: #5ea9dd
					&.icon-github
						&:before
							color: #000
					&.icon-linkedin
						&:before
							color: #0274b3
					&.icon-mail
						&:before
							color: #ca3523